rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Função para verificar se o usuário está logado
    function isSignedIn() {
      return request.auth != null;
    }

    // Função para verificar se o usuário é o dono do documento
    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    // Função para verificar se o usuário é admin
    function isAdmin() {
      return isSignedIn() && exists(/databases/$(database)/documents/usuarios/$(request.auth.uid)) && get(/databases/$(database)/documents/usuarios/$(request.auth.uid)).data.role == 'admin';
    }

    // Regras para a coleção de usuários
    match /usuarios/{userId} {
      allow list: if isAdmin();
      allow get: if isSignedIn() && (isOwner(userId) || isAdmin());
      allow create: if isSignedIn() && isOwner(userId); // Garante que o usuário só crie o seu próprio doc
      allow update: if isSignedIn() && (isAdmin() || (isOwner(userId) && !request.resource.data.diff(resource.data).affectedKeys().hasAny(['role', 'saldo'])));
      allow delete: if isAdmin();
    }

    // Regras para a coleção de transações
    match /transacoes/{transacaoId} {
      allow list: if isSignedIn() && (request.query.limit <= 20 || isAdmin()); // Permite listagem para o próprio usuário ou admin
      allow get: if isSignedIn() && (request.auth.uid == resource.data.userId || isAdmin());
      allow create: if isSignedIn(); // Cliente cria a transação pendente
      allow update: if isSignedIn() && isAdmin(); // Apenas admin pode validar/usar
      allow delete: if isAdmin();
    }

    // Regras para a coleção de produtos
    match /produtos/{produtoId} {
      allow read: if isSignedIn(); // Qualquer logado pode ver a grade
      allow write: if isSignedIn() && isAdmin(); // Apenas admin gerencia grade
    }
  }
}
